pytest==6.2.4
allure-pytest==2.9.45
httpx==0.16.1
Jinja2==2.11.3
paramiko==2.10.3
python_jenkins==1.7.0
requests==2.25.1
scp==0.14.4
urllib3==1.26.2
pytest-dependency==0.5.1
kubernetes==9.0.0
pymysql==1.0.2
pytest-rerunfailures==10.2
minio==7.1.9
pytest-ordering==0.6
pandas==1.1.5
requests-toolbelt==0.9.1
pytest-xdist==2.5.0
pytest-sugar==0.9.5
filelock==3.8.0
Deprecated==1.2.14
jumpssh==1.6.5